@{
    ViewBag.Title = "Home";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="banner">
    <div class="container py-5">
        <h1 class="display-4 text-white">Welcome to WebApplication1</h1>
        <p class="lead text-white">Your one-stop solution for managing movies.</p>
    </div>
</div>
<style>
    .banner {
        background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('https://source.unsplash.com/random/1920x1080/?movie') no-repeat center center;
        background-size: cover;
        height: 400px;
        display: flex;
        align-items: center;
    }
</style>
